{% extends 'base.html' %}
{% block content %}
<h2>
    {% block title %}
    Přidání do playlistu
    {% endblock %}
</h2>
<main>
        <form method="POST">
            <label for="name">Jméno</label>
            <input type="text" id="name" name="name" required>

            <label for="artist">Interpret</label>
            <input type="text" id="artist" name="artist" required>

            <label for="album">Album</label>
            <input type="text" id="album" name="album" required>

            <label for="genre">Žánr</label>
            <input type="text" id="genre" name="genre" required>

            <input type="submit" value="Přidat">
        </form>
</main>
{% endblock %}
