<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename="css/style.css")}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="{{ url_for('index') }}">Domů</a></li>
        {% if session["username"] %}
        <li><a href="{{ url_for('auth.logout') }}">Odhlásit se</a></li>
        {%else %}
        <li><a href="{{ url_for('auth.login') }}">Přihlásit se</a></li>
        <li><a href="{{ url_for('auth.register') }}">Registrace</a></li>
        {% endif %}
    </ul>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}

    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<hr>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>