<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename="css/style.css")}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="{{ url_for('index') }}">Domů</a></li>
        <li><a href="{{ url_for('login') }}">Přihlásit se</a></li>
    </ul>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
    {% for category, message in messages %}
        <label for="flash"><li class="flash_message {{ category }}">{{ message }}<input type="checkbox" id="flash" name="X" /></li></label>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>