{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>{% block title %} Administrace {% endblock %}</h1>
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Email</th>
                <th>Role</th>
                <th>Akce</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[4] }}</td>
                    <td><a href="{{ url_for('admin.delete', user_id = user[0]) }}">Smazat </a></td>
                    <td><a href="{{ url_for('admin.edit_user', user_id = user[0]) }}">Upravit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
{% endblock %}